body {
	background-color: #F5F5F5;
}

/* #LEFTMENU */
.leftmenu .panel-body
{
	padding: 0;
}
.leftmenu .panel .panel-body div
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ddd;
}
.leftmenu .panel a {
	display: block;
	text-decoration: none;
}
.leftmenu .panel .panel-body a
{
	padding: 8px;
}

.login-area
{
	margin-bottom: 10px;
}

/* #CAROUSEL */

.carousel-main-text
{
	position: absolute;
	top: 10px;
	width: 96.66666666666666%;
	color: #FFF;
}

/*
* #margins 
*/

.margin-bottom-5
{
margin-bottom: 5px;
}

.margin-bottom-10
{
	margin-bottom: 10px;
}

.margin-right-5
{
	margin-right: 5px;
}


/*
* #PADDINGS 
*/

.padding-0
{
	padding: 0px;
}